<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf Sage</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <!-- <script src="https://unpkg.com/popper"></script> -->
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    
</head>

<body class="{% block body_class %}{% endblock %}">

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/static/images/bookstack.png" alt="Shelf Sage Logo" class="navbar-logo">
                    Shelf Sage
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not g.user %}
                    <li class="nav-item pe-3"><a href="/signup">Sign up</a></li>
                    <li class="nav-item pe-3"><a href="/login">Log in</a></li>
                {% else %}
                    <li class="nav-item pe-3">
                        <a href="/my_library">My Library</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a href="/logout">Log out</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a href="{{ url_for('create_bookshelf') }}">Create Bookshelf</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

   
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
<script src="{{ url_for('static', filename='bookshelf-management.js') }}"></script>


</body>

</html>
