{% extends "base.html" %}

{% block content %}
    <h1>Book Details</h1>
    <div>
        <h2>{{ book.title }}</h2>
        <p>Author(s): {{ book.authors|join(', ')|safe }}</p>
        <p>Publisher(s): {{ book.publisher|safe }}</p>
        <p>Published Date: {{ book.publishedDate|safe }}</p>
        <p>Description: {{ book.description|safe }}</p>
        <p>Categories: {{ book.categories|join(', ')|safe }}</p>
        
        {% if book.imageLinks %}
            {% if book.imageLinks.thumbnail %}
                <img src="{{ book.imageLinks.thumbnail }}" alt="Book Cover">
            {% endif %}
        {% elif book.image_link %}
            <img src="{{ book.image_link }}" alt="Book Cover">
        {% else %}
            <p>No image available.</p>
        {% endif %}
    </div>

    <div>
        {% if g.user %}  <!-- Check if the user is logged in -->
            <!-- Always show 'Add to My Library' button -->
            <form action="{{ url_for('add_book_to_library', volume_id=book.volume_id) }}" method="post">
                <input type="submit" value="Add to My Library">
            </form>

        {% endif %}
    </div>

{% endblock %}
