{% extends "base.html" %}

{% block content %}
    
    <div>
        <h1 class="search-results-title">{{ book.title }}</h1>
        {% if book.imageLinks %}
            {% if book.imageLinks.thumbnail %}
                <img src="{{ book.imageLinks.thumbnail }}" alt="Book Cover">
            {% endif %}
        {% elif book.image_link %}
            <img src="{{ book.image_link }}" alt="Book Cover">
        {% else %}
            <img src="/static/images/book-cover-not-avail.jpg" alt="Book Cover Not Available" style="height: 200px; object-fit: contain; ">
        {% endif %}
        <p>Author(s): {{ book.authors|join(', ')|safe }}</p>
        {% if book.isbns %}
        <p>ISBNs: {{ book.isbns|join(', ') }}</p>
        {% else %}
        <p>ISBNs: Not available</p>
        {% endif %}
        <p>Publisher(s): {{ book.publisher|safe }}</p>
        <p>Published Date: {{ book.publishedDate|safe }}</p>
        <p>Description: {{ book.description|safe }}</p>
        <p>Categories: {{ book.categories|join(', ')|safe }}</p>
        
        
    </div>

    <div>
        {% if g.user %}  <!-- Check if the user is logged in -->
            <!-- Always show 'Add to My Library' button -->
            <form action="{{ url_for('add_book_to_library', volume_id=book.volume_id) }}" method="post">
                <input type="submit" value="Add to My Library">
            </form>

        {% endif %}
    </div>

{% endblock %}
