{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center align-items-center vh-100 "> 
  <h1 class="text-center app-title">Welcome Shelf Sage</h1>
  <p class="text-center subtext"> Fill out to join!</p>

  <div class="col-12 text-center">
    <img src="static/images/openbook.png" alt="Book Image" class="img-fluid centered-img" >
  </div>
  

<form method="POST" class="custom-form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control mb-2") }}
    {% endfor %}

    <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
  </form>

</div>

{% endblock %}