{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{g.user.username}}'s Library</h1>

    <!-- User's bookshelves -->
    <div class="row">
        {% for bookshelf in bookshelves %}
        <div class="col-md-4">
            <div class="bookshelf card mt-4" data-bookshelf-id="{{ bookshelf.id }}">
                <div class="card-body">
                    <h2 class="card-title bookshelf-name">{{ bookshelf.name }}</h2> 
                    <p class="card-text">{{ bookshelf.description }}</p>
                    <ul class="list-group list-group-flush">
                        <!-- List books in the bookshelf -->
                        {% for book in bookshelf.books %}
                        <li class="list-group-item" id="book-{{ book.id }}">
                            <img src="{{ book.image_links }}" class="mr-3" alt="Book Cover" style="width: 64px; height: 64px;">
                            {{ book.title }} 
                            <!-- Add the class 'remove-book-btn' and necessary data attributes -->
                            <a href="#" class="remove-book-btn float-right" data-book-id="{{ book.id }}" data-bookshelf-id="{{ bookshelf.id }}" data-volume-id="{{ book.volume_id }}">Remove</a>
                            <p>{{ book.id }} - {{ bookshelf.id }}</p>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="card-body">
                        <button class="rename-bookshelf btn btn-primary">Rename Bookshelf</button>
                        <button class="delete-bookshelf btn btn-danger">Delete BookShelf</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Books not in a bookshelf -->
    <h2 class="mt-5">Other Books</h2>
    <ul class="list-unstyled">
        {% for book in books %}
        {% if book not in shelved_books %}
        <li class="media my-4">
            <img src="{{ book.image_links }}" class="mr-3" alt="Book Cover" style="width: 64px; height: 64px;">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ book.title }}</h5>
                <!-- Dropdown to select bookshelf -->
                <select class="bookshelf-selector form-control" data-volume-id="{{ book.volume_id }}">
                    <option value="">Add to bookshelf...</option>
                    {% for _bookshelf in bookshelves %}
                    <option value="{{ _bookshelf.id }}">{{ _bookshelf.name }}</option>
                    {% endfor %}
                </select>
                
                <!-- "Delete Book" button with class and data attribute -->
                <button class="btn btn-danger delete-book mt-2" data-book-id="{{ book.id }}">Delete Book</button>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
